#**CONTROL STATEMENTS**
    LoopsÂ are traditionally used when you have a block of code which we want to repeat a fixed number of times.
#**Types of Control Statements**
    While
    For
    Nested control Statements

#**WHILE LOOP**

#SYNTAX
    while condition:
        while statement 1
        while statement 2
        .
        .
        .

In [ ]:
#Approach - 1
'''
n = 5
while (n>0):
  print("Hello World")
  n = n - 1
print("end")
'''
#Appraoch - 2
'''
n = 1
while (n<=5):
  print("Hello World")
  n = n + 1
print("End")
'''
#Approach - 3
'''
n = 101
while (n<=105):
  print("Hello World")
  n = n + 1
print("end")
'''

Hello World
Hello World
Hello World
Hello World
Hello World
end

#**FOR LOOP**

#SYNTAX
    for variable in sequence:
        for statement 1
        for statement 2
        .
        .
        .

In [ ]:
#Approach - 1
'''
for i in range(5):
  print("Hello World")
print("End")
'''
#Approach - 2
'''
for i in range(0,5,1):
  print("Hello World")
print("end")
'''
#Approach - 3
'''
for i in range(100,105,1):
  print("Hello World")
print("end")
'''

Hello World
Hello World
Hello World
Hello World
Hello World
end

#**LOOP CONTROLLED STATEMENTS**
    Break
    Continue
    Pass

In [ ]:
#Pass
'''
for i in range(10):
  pass
'''
#Break
'''
for i in range(100):
  print(f"Petrol Injection started at {i}")
  if i == 47:
    break
'''
#Continue
'''
for i in range(10):
  print(f"Iteration {i}.1")
  if i == 4:
    continue
  print(f"Iteration {i}.2")
for i in range(3):
  print("Hello 1")
  print("Hello 2")
  if i == 1:
    continue
  print("Hello 3")
  print("Hello 4")
'''

Hello 1
Hello 2
Hello 3
Hello 4
Hello 1
Hello 2
Hello 1
Hello 2
Hello 3
Hello 4

#**Clauses**
    Else with while
        while (condition):
          statement 1
          statement 2
          .
          .
        else:
          statement 1
          statement 2
          .
          .
    Else with For
        for variabel in sequence:
          statement 1
          statement 2
          .
          .
        else:
          statement 1
          statement 2
          .
          .

In [ ]:
#Example - 1
'''
for i in range(5):
  print("Hello")
  if i == 3:
    continue
else:
  print("No break")
'''
#Example - 2
'''
n = 5
while (n>0):
  print("Hello")
  if n == 2:
    break
  n = n - 1
else:
  print("No break")
'''

Hello
Hello
Hello
Hello

#**Accessing Elements of Lists**
    For With Range
    For Without Range

In [8]:
x = [10,20,30,40,50]
#For with range
'''
for i in range(len(x)):
  print(x[i])
'''
'''
for i in range(len(x)):
  print(x[i],end=" ")
'''
#for with out range
'''
for i in x:
  print(i)
'''
'''
for i in x:
  print(i,end=" ")
'''
#Keyargs
print(*x,sep=" ")

10,20,30,40,50

#**Accessing Elements of Tuple**
    For With Range
    For Without Range

In [12]:
x = (10,20,30,40,50)
#For with range
'''
for i in range(len(x)):
  print(x[i])
'''
'''
for i in range(len(x)):
  print(x[i],end=" ")
'''
#for with out range
'''
for i in x:
  print(i)
'''
'''
for i in x:
  print(i,end=" ")
'''
#Keyargs
'''
print(*x,sep=" ")
'''

10
20
30
40
50

'\nprint(*x,sep=" ")\n'

#**Accessing Elements of Sets**
    For Without Range

In [16]:
s1 = {1,6,2,8,2}
'''
print(s1)
'''
#For with out Range
'''
for i in s1:
  print(i)
'''
#Keyargs
'''
print(*s1,sep=" ")
'''
'''
for i in s1:
  print(i,end=" ")
'''

{8, 1, 2, 6}
8
1
2
6
8 1 2 6
8 1 2 6

#**Accessing Elements of Dictionary**
    For Without Range

In [18]:
d = {1:10,2:20,3:30,4:40,5:50}
#Without range
'''
for i in d:
  print(i)
  print(d[i])
'''

1
10
2
20
3
30
4
40
5
50

#**NESTED CONTROL STATEMENTS**

#Types:
    1. For in For
    2. For in while
    3. While in while
    4. For in for

In [40]:
#Pattern - 1
'''
for i in range(3):
    for j in range(3):
      print("*",end=" ")
    print()
'''
#Pattern - 2
'''
for i in range(3):
  for j in range(4):
    print("#",end=" ")
  print()
'''
#Pattern - 3
'''
n = 4
for i in range(n):
  for j in range(n):
    if (i>=j):
      print("*",end= " ")
    else:
      print("#",end=" ")
  print()
'''
#Pattern - 4
'''
temp = 1
n = 4
for i in range(n):
  for j in range(n):
    print(temp,end=" ")
    temp = temp + 1
  print()
  temp = 1
'''
'''
n = 4
for i in range(n):
  for j in range(n):
    print(j+1,end=" ")
  print()
'''
#Pattern - 5
'''
n = 4
for i in range(n):
  for j in range(n):
    print(i+1,end=" ")
  print()
'''
#Pattern - 6
'''
n = 4
for i in range(n):
  if i%2 == 0:
    for j in range(n):
      print("*",end= " ")
  else:
    for j in range(n):
      print(j+1,end= " ")
  print()
'''
#Pattern - 7
'''
n = 4
for i in range(n):
  for j in range(n):
    if i==0 or i==n-1 or j==0 or j==n-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()
'''

* * * *
*     *
*     *
* * * *