#Data Types
    1. Numeric Types:
        int
        flaot
        complex
    2. Sequence Types:
        list
        tuple
    3. Mapping Types:
        dict
    4. Set types
        sets
        frozensets
    5. Boolean Types
        bool [ True / False ]
    6. Text Type:
        Strings

#Numeric
    1. Int
    2. Float
    3. Complex

In [ ]:
'''
a = 10
b = 20
c = 10.56
print(a)
print(b)
print(type(a))
'''
'''
a = 10
print(type(a))
a = 10.45
print(type(a))
a = complex(4,5)
print(type(a))
print(a)
print(id(a))
'''
a = 10
b = 20
c = 10
print(id(a))
print(id(b))
print(id(c))

#Sequence
    1. Lists
    2. Tuples

#Lists
    List is ordered collection of items
    Item could be of any python Data Type
    Lists are Mutable
    Square brackets represents Lists
    
    Operations on Lists:
        Creation
        Accessing
        Insertion
        Deletion
        Updation

#List Operations

1. Creation
        Creation of an Empty List
        Creation of List with Single Element
        Creation of List with multiple Elements
        Creation of list with user Inputs [ Lets Discuss Later ]

In [ ]:
a = []
print(a)
print(type(a))
b = [1]
c = [10.45]
print(b)
print(type(b))
print(c)
print(type(c))
d = [10,20,67.89,4+7j]
print(d)
print(type(d))

2. Accessing
    Indexing
        Positive Indexing
        Negetive Indexing
    Looping [ Discuss Later ]
        For Loop with range
        For Loop without range
    Methods
        index()
        count()
        copy()
    Slicing
        Positive Slicing
        Negetive Slicing

In [ ]:
a = [10,20,30,40,50,60]
print(a[4])
print(a[0])
print(a[-1])
print(a[6-1])

In [ ]:
a = [10,20,300,40,30,50]
print(a.index(30))

In [ ]:
a = [10,20,30,40,50,30,40,30]
print(a.count(30))

In [ ]:
a = [10,20,30]
b = a.copy()
print(a)
print(b)

In [ ]:
a = [10,20,30]
b = a.copy()
print(a)
print(b)
b[1] = 25
print(a)
print(b)

In [ ]:
a = [10,20,30,40,50,60,70,80]
print(a[::])
print(a[:])
print(a[::1])
print(a[::2])
print(a[::3])
print(a[::-1])
print(a[::-2])
print(a[2:])
print(a[:5])
print(a[3:6])
print(a[2:6:2])
print(a[11:25])
b = [10,20,30,40,50,60,70]
print(b[5:2:-1])

3. Insertion
        Methods
          append()
          extend()
          insert()

In [ ]:
a = [10,20,30]
a.append(40)
print(a)

In [ ]:
a = [10,20,30]
b = [70,60]
b.extend(a)
print(a)
print(b)

In [ ]:
a = [10,20,30,40]
a.insert(2,25)
print(a)
a.insert(0,5)
print(a)

4. Deletion
        Methods
          remove()
          pop()
          clear()

In [ ]:
a = [10,20,30,40]
print(a)
a.remove(30)
print(a)
b = [1,2,3,4,2,3,4]
print(b)
b.remove(3)
print(b)

In [ ]:
a = [10,20,30,40,50]
print(a)
a.pop()
print(a)
b = [1,2,3,4,5]
print(b)
b.pop(3)
print(b)

In [ ]:
a = [1,2,3,4,5]
print(a)
a.clear()
print(a)

5. Updation
        Indexing
            Positive
            Negetive
        Methods
          sort()
          reverse()

In [ ]:
a = [10,20,30,40,50]
a[2] = 350
print(a)
a[-2] = 450
print(a)
b = [7,3,7,2,87]
print(b)
b.sort()
print(b)
c = [34,56,78]
print(c)
c.reverse()
print(c)

#Built-in functions in Lists
    len()
    max()
    min()
    sum()
    sorted()

In [ ]:
a = [10,20,40,12,7]
print(len(a))
print(max(a))
print(min(a))
print(sum(a))
print(sorted(a))
b = [4,2,7]
b.sort()
print(b)
c = [4,2,7]
print(sorted(c))
print(c)

#External Operations on Lists
    1. concatenation
    2. repetetion
    3. membership

In [ ]:
a = [10,20,30,40]
b = [1,2,3,4]
print(a+b)
c = [1,2,3]
print(c*3)
d = [10,20,30,40]
print(100 in d)

#List Comprehension
    Its an elegant way to define lists in python

    Breakdown of List Comprehension:
        1. Output Expression
        2. Input Sequence
        3. Condition

In [7]:
a = [i for i in range(10) if i%2==0]
print(a)

[0, 2, 4, 6, 8]

#Nested Lists
    List inside another lists is called as Nested Lists

In [10]:
x = [[1,2,3],[4,5,6]]
print(x)
print(x[0][1])

[[1, 2, 3], [4, 5, 6]]
2

#Tuples
    Tuple is ordered collection of items.
    It could be of any python data type
    Its an immutable data structure

    Operations on Tuple:
        Creation
        Accessing

#Tuple Operations

1. Creation
        Creation of an Empty tuple
        Creation of tuple with Single Element
        Creation of tuple with multiple Elements
        Creation of tuple with user Inputs [ Lets Discuss Later ]

In [16]:
a = ()
print(a)
print(type(a))
b = (1,)
print(b)
print(type(b))
c = (1,2,3,4)
print(c)
print(type(c))

()
<class 'tuple'>
(1,)
<class 'tuple'>
(1, 2, 3, 4)
<class 'tuple'>

2. Accessing
  1. Indexing
          Positive Indexing
          Negetive Indexing
  2. Looping
            For Loop with range
            For Loop without range
  3. Methods
            index()
            count()
  4. Slicing
          Positive Slicing
          Negetive Slicing

In [29]:
a = (1,2,3,400,5,6,2)
print(a[3])
print(a[-2])
print(a.index(400))
print(a.count(2))
print(a[::])
print(a[2:])
print(a[:4])
print(a[2::2])
print(a[:2:2])

400
6
3
2
(1, 2, 3, 400, 5, 6, 2)
(3, 400, 5, 6, 2)
(1, 2, 3, 400)
(3, 5, 2)
(1,)

#Built-in functions in Tuple
    len()
    max()
    min()
    sum()
    sorted()

In [34]:
a = (1,2,3,4,5)
print(len(a))
print(min(a))
print(max(a))
print(sum(a))
print(sorted(a))

5
1
5
15
[1, 2, 3, 4, 5]

#External Operations on Tuple
    1. concatenation
    2. repetetion
    3. membership

In [38]:
a = (1,2,3,4,5)
b = (6,7,8,9,10)
print(a+b)
print(a*2)
print(1 in b)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
False

#Nested Tuple
    Tuple inside another tuple is called as Nested tuple

In [40]:
t = ((1,2,3),(4,5,6),(7,8,9))
print(t[1][1])
t = (1,2,3,4)

5

TypeError: 'tuple' object does not support item assignment

In [43]:
t = (1,2,3,4,5)
t1 = ((6,7,8),)
t2 = t + t1
print(t2)

(1, 2, 3, 4, 5, (6, 7, 8))