#Data Types
    1. Numeric Types:
        int
        flaot
        complex
    2. Sequence Types:
        list
        tuple
    3. Mapping Types:
        dict
    4. Set types
        sets
        frozensets
    5. Boolean Types
        bool [ True / False ]
    6. Text Type:
        Strings

#Numeric
    1. Int
    2. Float
    3. Complex

In [ ]:
'''
a = 10
b = 20
c = 10.56
print(a)
print(b)
print(type(a))
'''
'''
a = 10
print(type(a))
a = 10.45
print(type(a))
a = complex(4,5)
print(type(a))
print(a)
print(id(a))
'''
a = 10
b = 20
c = 10
print(id(a))
print(id(b))
print(id(c))

10751144
10751464
10751144

#Sequence
    1. Lists
    2. Tuples

#Lists
    List is ordered collection of items
    Item could be of any python Data Type
    Lists are Mutable
    Square brackets represents Lists
    
    Operations on Lists:
        Creation
        Accessing
        Insertion
        Deletion
        Updation

#List Operations

1. Creation
        Creation of an Empty List
        Creation of List with Single Element
        Creation of List with multiple Elements
        Creation of list with user Inputs [ Lets Discuss Later ]

In [ ]:
a = []
print(a)
print(type(a))
b = [1]
c = [10.45]
print(b)
print(type(b))
print(c)
print(type(c))
d = [10,20,67.89,4+7j]
print(d)
print(type(d))

[]
<class 'list'>
[1]
<class 'list'>
[10.45]
<class 'list'>
[10, 20, 67.89, (4+7j)]
<class 'list'>

2. Accessing
    Indexing
        Positive Indexing
        Negetive Indexing
    Looping [ Discuss Later ]
        For Loop with range
        For Loop without range
    Methods
        index()
        count()
        copy()
    Slicing
        Positive Slicing
        Negetive Slicing

In [ ]:
a = [10,20,30,40,50,60]
print(a[4])
print(a[0])
print(a[-1])
print(a[6-1])

50
10
60
60

In [ ]:
a = [10,20,300,40,30,50]
print(a.index(30))

4

In [ ]:
a = [10,20,30,40,50,30,40,30]
print(a.count(30))

3

In [ ]:
a = [10,20,30]
b = a.copy()
print(a)
print(b)

[10, 20, 30]
[10, 20, 30]

In [ ]:
a = [10,20,30]
b = a.copy()
print(a)
print(b)
b[1] = 25
print(a)
print(b)

[10, 20, 30]
[10, 20, 30]
[10, 20, 30]
[10, 25, 30]

In [20]:
a = [10,20,30,40,50,60,70,80]
print(a[::])
print(a[:])
print(a[::1])
print(a[::2])
print(a[::3])
print(a[::-1])
print(a[::-2])
print(a[2:])
print(a[:5])
print(a[3:6])
print(a[2:6:2])
print(a[11:25])
b = [10,20,30,40,50,60,70]
print(b[5:2:-1])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40, 50, 60, 70, 80]
[10, 30, 50, 70]
[10, 40, 70]
[80, 70, 60, 50, 40, 30, 20, 10]
[80, 60, 40, 20]
[30, 40, 50, 60, 70, 80]
[10, 20, 30, 40, 50]
[40, 50, 60]
[30, 50]
[]
[60, 50, 40]

3. Insertion
        Methods
          append()
          extend()
          insert()

In [ ]:
a = [10,20,30]
a.append(40)
print(a)

[10, 20, 30, 40]

In [ ]:
a = [10,20,30]
b = [70,60]
b.extend(a)
print(a)
print(b)

[10, 20, 30]
[70, 60, 10, 20, 30]

In [ ]:
a = [10,20,30,40]
a.insert(2,25)
print(a)
a.insert(0,5)
print(a)

[10, 20, 25, 30, 40]
[5, 10, 20, 25, 30, 40]

4. Deletion
        Methods
          remove()
          pop()
          clear()

In [15]:
a = [10,20,30,40]
print(a)
a.remove(30)
print(a)
b = [1,2,3,4,2,3,4]
print(b)
b.remove(3)
print(b)

[10, 20, 30, 40]
[10, 20, 40]
[1, 2, 3, 4, 2, 3, 4]
[1, 2, 4, 2, 3, 4]

In [17]:
a = [10,20,30,40,50]
print(a)
a.pop()
print(a)
b = [1,2,3,4,5]
print(b)
b.pop(3)
print(b)

[10, 20, 30, 40, 50]
[10, 20, 30, 40]
[1, 2, 3, 4, 5]
[1, 2, 3, 5]

In [18]:
a = [1,2,3,4,5]
print(a)
a.clear()
print(a)

[1, 2, 3, 4, 5]
[]

5. Updation
        Indexing
            Positive
            Negetive
        Methods
          sort()
          reverse()

In [27]:
a = [10,20,30,40,50]
a[2] = 350
print(a)
a[-2] = 450
print(a)
b = [7,3,7,2,87]
print(b)
b.sort()
print(b)
c = [34,56,78]
print(c)
c.reverse()
print(c)

[10, 20, 350, 40, 50]
[10, 20, 350, 450, 50]
[7, 3, 7, 2, 87]
[2, 3, 7, 7, 87]
[34, 56, 78]
[78, 56, 34]

#Built-in functions in Lists
    len()
    max()
    min()
    sum()
    sorted()

In [37]:
a = [10,20,40,12,7]
print(len(a))
print(max(a))
print(min(a))
print(sum(a))
print(sorted(a))
b = [4,2,7]
b.sort()
print(b)
c = [4,2,7]
print(sorted(c))
print(c)

5
40
7
89
[7, 10, 12, 20, 40]
[2, 4, 7]
[2, 4, 7]
[4, 2, 7]

#External Operations on Lists
    1. concatenation
    2. repetetion
    3. membership

In [42]:
a = [10,20,30,40]
b = [1,2,3,4]
print(a+b)
c = [1,2,3]
print(c*3)
d = [10,20,30,40]
print(100 in d)

[10, 20, 30, 40, 1, 2, 3, 4]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
False

#List Comprehension
    Its an elegant way to define lists in python

    Breakdown of List Comprehension:
        1. Output Expression
        2. Input Sequence
        3. Condition

#Nested Lists
    List inside another lists is called as Nested Lists

#Tuples
    Tuple is ordered collection of items.
    It could be of any python data type
    Its an immutable data structure

    Operations on Tuple:
        Creation
        Accessing

#Tuple Operations

1. Creation
        Creation of an Empty List
        Creation of List with Single Element
        Creation of List with multiple Elements
        Creation of list with user Inputs [ Lets Discuss Later ]

2. Accessing
  1. Indexing
          Positive Indexing
          Negetive Indexing
  2. Looping
            For Loop with range
            For Loop without range
  3. Methods
            index()
            count()
            copy()
  4. Slicing
          Positive Slicing
          Negetive Slicing

#Built-in functions in Tuple
    len()
    max()
    min()
    sum()

#External Operations on Lists
    1. concatenation
    2. repetetion
    3. membership

#Nested Tuple
    Tuple inside another tuple is called as tuple