#INPUT OPERATIONS
    input() [ Value will be considered as String ]

In [ ]:
x = input()
print(x)
print(type(x))

[10,20,30,40]
[10,20,30,40]
<class 'str'>

#Taking Inputs of integer

In [ ]:
x = input()
print(type(x))
x = int(x)
print(type(x))
a = int(input())
print(type(a))

123
<class 'str'>
<class 'int'>
10
<class 'int'>

In [ ]:
a = input("Enter Username: ")
b = int(input("Enter Password: "))

Enter Username: iamsai2408
Enter Password: 1234567890

In [ ]:
a,b = map(int,input().split(","))
print(a)
print(type(a))
print(b)

10,20
10
<class 'int'>
20

#Taking inputs of float

In [ ]:
a = float(input())
print(a)
print(type(a))

10.456
10.456
<class 'float'>

In [ ]:
a,b = map(float,input().split(","))
print(a)
print(b)
print(type(a))
print(type(b))

10.45,56
10.45
56.0
<class 'float'>
<class 'float'>

#Taking inputs of list

In [ ]:
x = input()
print(type(x))
x = input().split()
print(x)
print(type(x))

10 20 30 40 50
<class 'str'>
10 20 30 40
['10', '20', '30', '40']
<class 'list'>

In [ ]:
x = input().split(",")
print(x)
print(type(x))

10,20,30,40,50
['10', '20', '30', '40', '50']
<class 'list'>

In [ ]:
x = input().split("$")
print(x)

10$20$30
['10', '20', '30']

In [ ]:
x = list(map(int,input().split()))
print(x)

10 20 30 40 50
[10, 20, 30, 40, 50]

In [ ]:
x = list(map(int,input().split()))[:4]
print(x)

10 -20 -45 0 45
[10, -20, -45, 0]

In [ ]:
n = int(input())
x = list(map(int,input().split()))[:n]

2
1 2

#Taking inputs of Tuple

In [ ]:
x = list(map(float,input().split()))
print(x)

#Taking inputs of sets

In [ ]:
s1 = set(input().split())
print(s1)

sai vardhan sai 10 45.78
{'vardhan', '45.78', '10', 'sai'}

In [ ]:
s1 = set(map(int,input().split()))
print(s1)

10 20 34 12 20
{10, 12, 20, 34}

#Taking inputs of dictionaries

In [ ]:
keys = [10,20,30,40]
values = [100,200,300,400]
x = zip(keys,values)
x = dict(x)
print(x)

{10: 100, 20: 200, 30: 300, 40: 400}

In [ ]:
keys = list(map(int,input().split(",")))
values = input().split()
d = dict(zip(keys,values))
print(d)''

10,20,30
sai vardhan venkat
{10: 'sai', 20: 'vardhan', 30: 'venkat'}

In [ ]:
keys = [10,20,30]
values = [100,200,300,400]
d = dict(zip(keys,values))
print(d)

{10: 100, 20: 200, 30: 300}

#OUTPUT FORMATTING
    print() [ Prints values given as a parameters ]
#Types of Output Operations
    1. Using Normal Method
    2. Using Modulo Operator
    3. Using F - Format
    4. Using Dot Format

In [1]:
print("Hello world")

Hello world

#USING NORMAL METHOD

In [3]:
a = int(input())
b = int(input())
print("The values of a and b are",a,b)

100
200
The values of a and b are 100 200

In [7]:
a = 56
b = 78
print(a)
print(b)
print(a,b)
print(a,",",b)

56
78
56 78
56 , 78

In [8]:
hours = 12
min = 5
sec = 45
print(hours,":",min,":",sec)

12 : 5 : 45

#USING MODULO OPERATOR
    %d - For Integers
    %f - For Floats
    %s - For Strings

In [24]:
a = 10
print("The value is %d"%a)

The value is 10

In [30]:
a = 10
b = 12.345
c = "Hello"
print("The values are %d %f %s"%(a,b,c))

The values are 10 12.345000 Hello

#USING F - FORMAT

In [32]:
a = 10
b = 12.345
c = "Hello"
print(f"The Values are {a}{b}{c}")

The Values are 1012.345Hello

In [16]:
x = 12.34567
print(x)
print(f"{x}")

12.34567
12.34567

#USING DOT FORMAT

In [34]:
a = 12.456789
print("The value is {:.3f}".format(a))

The value is 12.457

In [22]:
a = 10
b = 20
c = 30
print("The values are {} {} {}".format(b,c,a))

The values are 20 30 10